---js
const eleventyNavigation = {
	key: "Home",
	order: 1
};
---

<p>
Hi, I'm Stephen and I like figuring stuff out, especially if
it involves math, biology, or computers. Sometimes I write
about what I've learned and post the results here.
</p>

<h2>Blog Posts</h2>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
